*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    height: 40vh;
    width: 100vw;
    background-image: url(./images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1vw;
    color: orangered;
    text-align: center;
    .titulo{
        align-self: center;
        color: white;
    }
    ul{
        display: flex;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                font-weight: bold;
                margin:  0 .5vw;
                color: white;
                transition: ease .2s;
            }
            a:hover{
                color: orangered;
            }
        }
    }
}
main{
    span{
        color: orangered;
    }
    h2{
        text-align: center;
        padding: 5vh 0;
    }
    .coffee{
        width: 60vw;
        padding-bottom: 3vh;
        border-bottom: 2px solid gray;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        div{
            padding: 2vw;
            max-width: 20vw;
        }
    }
    .coffees{
        div{
            display: flex;
            justify-content: center;
            img{
                margin-right: 3vw;
            }
            table{
                text-align: center;
                border-collapse: collapse;
                td{
                    padding: 1vw;
                }
                th{
                    padding: 1vw;
                    background-color: black;
                    color: white;
                }
                .grey{
                    background-color: grey;
                }
            }
        }
    }

}